{{section/home/1-top elementId="home-top"}}
{{section/home/2-carousel elementId="home-carousel"}}
{{section/home/3-articles elementId="home-articles"}}

<a class="btn btn-large pulse">Apply</a>

{{run (action "button")}}
