<div class="container-fluid slice" id="first">
  <div class="container">
    <div class="row">

      <div class="col-lg">
        <span class="font-race text-primary title">BCA</span>
        <span class="font-champagne subtitle">IT Career</span>
      </div>

      {{!-- <div class="col-lg">
        <div class="row">
          <div class="col-6"><button class="btn btn-danger btn-block btn-lg py-4"><h4>BIT</h4>Beware IT Bites</button></div>
          <div class="col-6"><button class="btn btn-warning btn-block btn-lg py-4"><h4>PPTI</h4>Get IT Right</button></div>
          <div class="col-6"><button class="btn btn-success btn-block btn-lg mt-4 py-4"><h4>INTERNSHIP</h4>See IT Yourself</button></div>
          <div class="col-6"><button class="btn btn-primary btn-block btn-lg mt-4 py-4"><h4>PROFESSIONAL</h4>You Got IT</button></div>
        </div>
      </div> --}}

    </div>
  </div>
</div>

<div class="container-fluid slice bg-dark"></div>
<div class="container-fluid slice"></div>
<div class="container-fluid slice bg-dark"></div>
<div class="container-fluid slice"></div>
