<div class="container">

  <h2 class="section-title">Working at IT BCA</h2>

  <div class="part">
    <div class="image"><span class="image-1"></span></div>
    <div class="desc">
      <span class="lines line-1"></span>
      <h3 class="title">Open Space<br>Environment</h3>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

  <div class="part">
    <div class="image"><span class="image-2"></span></div>
    <div class="desc">
      <span class="lines line-2"></span>
      <h3 class="title">Flexible<br>Working Hours</h3>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

  <div class="part">
    <div class="image"><span class="image-3"></span></div>
    <div class="desc">
      <span class="lines line-3"></span>
      <h3 class="title">Smart Casual<br>Attire</h3>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>

  {{!-- <div class="row">
    <div class="col m6 image-box">
      <span class="image-container-left image-1"></span>
    </div>
    <div class="col m6 text-box">
      <span class="lines-1 bg-cover"></span>
      <div class="text-container-right">
        <div class="top-text">Open Space Environment</div>
        <div class="bottom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="col m6 text-box">
      <span class="lines-2 bg-cover"></span>
      <div class="text-container-left">
        <div class="top-text left-side">Flexible Working Hours</div>
        <div class="bottom-text left-side">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="col m6 image-box">
      <span class="image-container-right image-2"></span>
    </div>
    <div class="col m6 image-box">
      <span class="image-container-left image-3"></span>
    </div>
    <div class="col m6 text-box">
      <span class="lines-3 bg-cover"></span>
      <div class="text-container-right">
        <div class="top-text">Smart Casual Attire</div>
        <div class="bottom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>

  </div> --}}

</div>
