<div class="container">

  <h2 class="section-title"><span class="d-inline-block">Working at</span> <span class="d-inline-block">IT BCA</span></h2>

  <div class="part">
    <div class="image"><span class="image-1"></span></div>
    <div class="desc">
      <span class="lines line-1"></span>
      <h3 class="title">Flexible<br>Working Hours</h3>
      <p class="text">Our IT professionals can opt to arrive at work up to 1 hour later than other BCA employees. This flexibility allows freedom to choose work hours that are most effective for them while still maintaining the optimal time for collaboration during business hours.</p>
    </div>
  </div>

  <div class="part">
    <div class="image"><span class="image-2"></span></div>
    <div class="desc">
      <span class="lines line-2"></span>
      <h3 class="title">Smart Casual<br>Attire</h3>
      <p class="text">We define Smart Casual as comfortable yet professional looking attire suitable for the dynamic working environment of IT professionals. Every day is casual day at #ITBCA.</p>
    </div>
  </div>

  <div class="part">
    <div class="image"><span class="image-3"></span></div>
    <div class="desc">
      <span class="lines line-3"></span>
      <h3 class="title">Open Space<br>Environment</h3>
      <p class="text">Our Open Space concept is designed to foster collaboration and interaction between our IT professionals. Besides discussing the latest cool projects, it is also important for everybody to occasionally crack a joke and share a laugh to keep team engagement level high.</p>
    </div>
  </div>

</div>
