@import "bootstrap/bootstrap";
@import "parts/navbar";
@import "parts/slice";
@import "parts/main";

.clickable {
  cursor: pointer;
}

.font-race {
  font-family: $font-family-race;
}

.font-champagne {
  font-family: $font-family-champagne;
}

.font-montserrat {
  font-family: $font-family-montserrat;
}

.font-weight-thin {
  font-weight: 100;
}

.font-weight-extralight {
  font-weight: 200;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-extrabold {
  font-weight: 800;
}

.font-weight-black {
  font-weight: 900;
}
