// Fonts
@import 'fonts';

// Materialize
@import 'materialize';

// Custom
@import 'custom';

.svg-container {
  display: none;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;

  > svg {
    position: absolute;
    display: block;
  }
}
