//Layout
#articles-top {
  position: relative;
  padding: 100px 0 10rem;
  height: 500px;
  box-sizing: content-box;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 40vw;
    min-height: 315px;
    z-index: 1;
    @media #{$large-and-up}{
      height: 35vw;
    }
  }

  .ornament{
    position: absolute;
    &.ornament-1{
      width: 320px; height: 320px;
      top: -6rem;
      transform: rotate(180deg);
      margin-left: -3rem;
      z-index: 1;
    }
    &.ornament-2{
      width: 150px; height: 150px;
      right: -2rem;
      margin-top: 3rem;
      z-index: 1;
    }
  }

  >.container{
    position: relative;
    z-index: 2
   }

  .main-title{
    width: 130px;
    position: relative;
    // margin-left: 8vw;
    // z-index: 1;

    @media #{$medium-and-up}{
      margin-left: 13vw;
    }
    @media #{$large-and-up}{
      margin-left: 8vw;
    }

    &::before {
      content: '';
      position: absolute;
      width: 8rem;
      left: 50%;
      bottom: -.6rem;
      margin-left: -4.5rem;
      z-index: -2;
    }
  }

  .container-indicator{
    position: absolute;
    top: 50%;
    width: 100%;
    @media #{$small-and-down}{
      top: unset;
      bottom: -15vw;
    }
    .content-indicator{
      border-radius: 50%;
      padding: .1rem;
    }
    .icon-left{
      left: 3rem;
      @media #{$small-and-down}{
        left: -.5rem;
      }
    }
    .icon-right{
      right: 3rem;
      @media #{$small-and-down}{
        right: -.5rem;
      }
    }
  }

  .slider-photo{
    // width: 700px;
    // width: fit-content;
    height: 30vw;
    position: relative;
    margin: -2rem auto 0;
    top: -1rem;
    // left: 50%;
    // margin-left: -300px;
    // top: 0;

    @media #{$small-and-down}{
      height: 60vw;
    }

    img{
      position: relative;
      border-radius: 10px;
      height: 100%;
      object-fit: contain;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  .slider-content{
    overflow: hidden;
    width: 30vw;
    height: 9vw;
    position: relative;
    padding: 1.5rem 2rem;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @media #{$small-and-down}{
      width: 55vw;
      height: 14vw;
      top: -3.5rem;
      padding: 1rem 1.5rem;
    }

    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15px;
      z-index: 1;

      @media #{$small-and-down} { height: 1.95rem; }
    }

    .content-title{
      position: relative;
      line-height: 1.2;
      letter-spacing: -.025em;
    }

    .content-bottom{
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        bottom: 2.4rem;
        left: 0;
        z-index: 2;
        @media #{$small-and-down}{
          bottom: 1.25rem;
        }
      }
      .content-date{
        position: absolute;
        bottom: .4rem;
        left: 2rem;
        z-index: 2;
        @media #{$small-and-down}{
          bottom: 0.1rem;
          left: 1.5rem;
        }
        .date {
          @media #{$large-and-up}{
            bottom: .6rem;
          }
        }
      }

      .slider-action{
        position: absolute;
        bottom: .4rem;
        right: 2rem;
        z-index: 2;
        @media #{$small-and-down}{
          bottom: 0.1rem;
          right: 1.5rem;
        }
        &:hover, &:focus, &:active {
          i { margin-left: .75rem; }
        }
      }
    }
  }

  .indicators{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    @media #{$small-and-down}{
      bottom: 1rem;
    }

    .indicator-item{
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 16px;
      width: 16px;
      margin: 0 12px;
      @media #{$small-and-down}{
        height: 10px;
        width: 10px;
        margin: 0 6px;
      }
    }
  }
}


//Styling
#articles-top {
  // background-image: url(./images/pattern.png),
  //                   linear-gradient(-10deg, $secondary-color, darken($secondary-color, 15%));
  // background-color: color('grey', 'darken-4');
  // background-position: center top;
  // background-attachment: fixed;

  // @media #{$medium-and-up} {
  //   background-image: url(./images/pattern.png),
  //                     linear-gradient(-10deg, $secondary-color 50%, darken($secondary-color, 15%));
  // }
  &::before{
    background: linear-gradient(#015daa 0%, #0094d6 50%, #00b7f1 100%);
  }

  .ornament{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &.ornament-1 { background-image:url(./images/home/home-top-ornament-4.png); opacity: .4;}
    &.ornament-2 { background-image:url(./images/home/home-top-ornament-3.png); opacity: .5;}
  }

  .main-title{
    font-family: $font-stack;
    font-weight: 900;
    font-size: 1.5em;
    text-shadow: 3px 3px 5px color('grey', 'darken-3');

    &::before{
      border-top: .3rem solid #ffffff;
    }
  }

  .content-indicator{
    background-color: white;
    border: 0;
    .icon-style{
      font-size: 32px;
      color:color('grey', 'darken-4');
    }
  }

  // .title {
  //   font-family: $font-stack;
  //   font-weight: bold;
  //   font-size: 2.2em;
  //   letter-spacing: .2rem;
  //   text-align: center;
  //   text-shadow: 0 .2rem .3rem rgba(0, 0, 0, .7);


  //   @media #{$large-and-up} { font-size: 2.5em; }
  //   @media #{$extra-large-and-up} { font-size: 3em; }
  // }
  .slider-content{
    background-color: white;
    border-radius: 10px;

    &::before{
      background-color: white;
    }

    .content-title{
      color: $off-black;
      font-weight: bold;
      font-size: 2vw;
      @media #{$small-and-down} {
        font-size: 1em;
      }
    }

    .content-bottom{
      &::before{
        border-bottom: .1rem solid #eee;
      }
      .content-date{
        color: $off-black;
        .date{
          font-size: .8em;
          @media #{$large-and-up}{
            font-size: inherit;
          }
          @media #{$small-and-down}{
            font-size: .6em;
          }
          color: color('grey', 'lighten-1');
        }
      }
      .slider-action{
        font-weight: 600;

        a {
          font-size: .7em;
          text-transform: uppercase;
          @media #{$large-and-up}{
            font-size: 1em
          }
          @media #{$small-and-down}{
            font-size: .6em;
          }
          i{
            font-size: 15px;
            @media #{$large-and-up}{
              font-size: inherit;
            }
          }
        }
      }
    }
  }

  .indicator-item{
    background-color: #e0e0e0;
    border-radius: 50%;
  }
  .indicator-item.active{
    background-color: #4CAF50;
  }
}


// Animation
#articles-top{
  .slider-action a > i {
    -webkit-transition: margin-left .15s;
    transition: margin-left .15s;
  }
  .indicator-item{
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }
}