<div class="container">

  <h2 class="section-title">Our Proposition</h2>

  <div class="row">
    <div class="col s12 l6">
      <div class="card-panel">
        <div class="title">Friendly Environment</div>
        <p class="desc">BCA has a friendly and supportive working environment where the managers are active in guiding, supporting and appreciating all the positive ideas that came up from their employees. We strongly believe that every employee needs to have a balanced life. That is why BCA provides various communities which would cater to every hobby such as AsiaLens for those who are passionate about photography, Asia Bike for those who love cycling activities and many more.</p>
      </div>
    </div>

    <div class="col s12 l6">
      <div class="card-panel">
        <div class="title">Continuous Improvement</div>
        <p class="desc">As a continuously growing company, BCA always open to innovation and new ideas which would help us remain at the forefront of this industry. Our employees have many opportunities to join various personal development programs and receive additional guidance from their managers to help them grow both personally and professionally. We believe that the best way to develop as a company is through helping our own employees grow and help them recognize their true potential.</p>
      </div>
    </div>
  </div>

</div>
