<span class="background-1 bg-format"></span>
<span class="background-2 bg-format"></span>
<span class="background-3 bg-format"></span>
<span class="background-4 bg-format"></span>
<div class="container">

  {{!-- <span class="image"></span> --}}

  {{!-- <div class="display">CHOOSE YOUR <span class="head-1"></span></div>
  <div class="display">SHAPE YOUR <span class="head-2"></span></div> --}}
  <div class="display">CHOOSE YOUR <img class="head-1" src="assets/images/Header_SVG-PATH.svg" alt=""></div>
  <div class="display">SHAPE YOUR <img class="head-2" src="assets/images/Header_SVG-FUTURE.svg" alt=""></div>
  <div class="sub-text">Be part of BCA IT family</div>
  {{!-- <a href={{url}} class="btn waves-effect waves-light apply">Apply Now</a> --}}
  <div class="center-align">
    {{#link-to "jobs" class="btn waves-effect waves-light apply"}}Apply Now{{/link-to}}
  </div>

</div>
