<div class="container">

  <span class="image"></span>

  <div class="display">CHOOSE YOUR <span class="primary-text text-black">PATH</span></div>
  <div class="display">SHAPE YOUR <span class="primary-text text-black">FUTURE</span></div>
  <a href={{url}} class="btn waves-effect waves-light apply">Apply Now</a>

</div>
