{{!-- <h1>TOP {{icon "album"}}</h1> --}}
{{!-- <h1>TOP</h1> --}}
<div class="container section-size">
    <div class="row centered">
        <div class="col m7">
            <div class="wrapper-tb">
                <div class="display-1 text-heading">CHOOSE YOUR PATH</div>
                <div class="display-1 text-heading">SHAPE YOUR FUTURE</div>
                <a class="waves-effect waves-light btn">APPLY</a>
            </div>
            {{!-- <h2 class="ml-7 mt-5 mb-2">CHOOSE YOUR PATH</h2>
            <h2 class="ml-7 mt-0 mb-4">SHAPE YOUR FUTURE</h2> --}}
        </div>
        <div class="col m5">
            <div class="icon-block">
                <img src="/images/2_INTERNSHIP.png" alt="INTERNSHIP" class="center circle" width="50%">
            </div>
        </div>
    </div>
</div>