{{!-- <h1>TOP {{icon "album"}}</h1> --}}
{{!-- <h1>TOP</h1> --}}

{{!-- <div class="container">
  <div class="row">
    <div class="col m7">
      <div class="display-1 text-heading">CHOOSE YOUR PATH</div>
      <div class="display-1 text-heading">SHAPE YOUR FUTURE</div>
      <h2 class="ml-7 mt-5 mb-2">CHOOSE YOUR PATH</h2>
      <h2 class="ml-7 mt-0 mb-4">SHAPE YOUR FUTURE</h2>
      <a class="waves-effect waves-light btn ml-7 mt-3">APPLY</a>
    </div>
    <div class="col m5">
      <div class="icon-block">
        <img src="/images/2_INTERNSHIP.png" alt="INTERNSHIP" class="center circle" width="50%">
      </div>
    </div>
  </div>
</div> --}}

<div class="container">

  <span class="image"></span>

  <div class="display">CHOOSE YOUR <span class="yellow-text">PATH</span></div>
  <div class="display">SHAPE YOUR <span class="yellow-text">FUTURE</span></div>
  <a href={{url}} class="btn btn-apply waves-effect waves-light">Apply Now</a>

</div>
