<div class="container">

  <span class="image"></span>

  <div class="display">CHOOSE YOUR <span class="text-black d-1">PATH</span></div>
  <div class="display">SHAPE YOUR <span class="text-black d-2">FUTURE</span></div>
  {{!-- <a href={{url}} class="btn waves-effect waves-light apply">Apply Now</a> --}}
  {{#link-to "jobs" class="btn waves-effect waves-light apply"}}Apply Now{{/link-to}}

</div>
