<div class="ornaments">
  <span class="ornament ornament-1"></span>
  <span class="ornament ornament-2 hide-on-small-only"></span>
  <span class="ornament ornament-3 hide-on-small-only"></span>
  <span class="ornament ornament-4 hide-on-small-only"></span>
</div>

<div class="container">
  <div class="display">
    CHOOSE YOUR <img class="d-1" src="{{root-url}}assets/images/home/Header-PATH.png" alt="PATH">
  </div>
  <div class="display">
    SHAPE YOUR <img class="d-2" src="{{root-url}}assets/images/home/Header-FUTURE.png" alt="FUTURE">
  </div>
  <div class="sub-text">Be part of BCA IT family</div>
  {{#link-to "jobs" class="btn waves-effect waves-light apply"}}Apply Now{{/link-to}}

</div>
