<div class="container">
  <div class="row">
    {{#each this.model as |job|}}
      <div class="col s6 l4">

        {{#link-to "jobs.detail" job.id class="job-item"}}

          <div class="image">
            <img src={{job.thumbJob}} alt="Job Image" class="responsive-img">
          </div>
          <div class="display">{{job.name}}</div>

        {{/link-to}}

      </div>
    {{/each}}
  </div>
</div>
