<div class="container">
  <div class="row mb-0">

    <div class="input-field col s12 m4">
      <select>
        <option value="" disabled selected>Specialization</option>
        <option value="1">Programmer</option>
        <option value="2">Network</option>
        <option value="3">Data</option>
        <option value="4">IT Infrastructure</option>
      </select>
    </div>

    <div class="input-field col s12 m4">
      <select>
        <option value="" disabled selected>Location</option>
        <option value="1">Jabodetabek</option>
        <option value="2">Surabaya</option>
        <option value="3">Yogyakarta</option>
      </select>
    </div>

    <div class="input-field col s12 m4">
      <select>
        <option value="" disabled selected>Something</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>

  </div>
</div>
