<div class="container">
  <h2 class="display">What it is</h2>
  <div>
    {{html model.description}}
  </div>
  <div class="bullet qualify">
    <span class="qualification">What you need</span>
    {{html model.qualification}}
  </div>
  <a href={{url}} class="btn waves-effect waves-light apply">Apply Now</a>
</div>
