{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}

{{outlet}}

<div class="svg-container">
  <svg>
    <defs>
      <clipPath id="clip-top1" clipPathUnits="objectBoundingBox">
        <path d="M 1,1
          v -1
          h -1
          v 1
          s .12 -.25, .3 -.1
          s .3 .1, .4 .03
          Z" />
      </clipPath>
      <clipPath id="clip-top2" clipPathUnits="objectBoundingBox">
        <path d="M 1,1
          v -.3
          h -1
          v .2
          s .08 -.03, .2 .05
          s .2 -.05, .4 -.1
          s .25 .23, .4 .1
          Z" />
      </clipPath>
      <clipPath id="clip-top3" clipPathUnits="objectBoundingBox">
        <path d="M 1,.55
          v -.55
          h -1
          v .6
          l .7 .15
          q .05 .01, .1 -.02
          l .8 -.5
          Z
          "/>
      </clipPath>
      <clipPath id="clip-top4" clipPathUnits="objectBoundingBox">
        <path d="M 1,.65
          v -.65
          h -1
          v .68
          l .7 .08
          q .06 .01, .1 -.01
          l .8 -.3
          Z
          "/>
      </clipPath>
      <clipPath id="clip-top5" clipPathUnits="objectBoundingBox">
        <path d="M 1,.9
          v -.9
          h -1
          v .7
          l .3 .2
          q .05 .02, .1 .009
          l .6 -.1
          Z
          "/>
      </clipPath>
    </defs>
  </svg>
</div>
