{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}

{{outlet}}

<div class="svg-container">
  <svg>
    <defs>
      <clipPath id="clip-top1" clipPathUnits="objectBoundingBox">
        <path d="M 1,1
          v -1
          h -1
          v 1
          s .12 -.25, .3 -.1
          s .3 .1, .4 .03
          Z" />
      </clipPath>
      <clipPath id="clip-top2" clipPathUnits="objectBoundingBox">
        <path d="M 1,1
          v -.3
          h -1
          v .2
          s .08 -.03, .2 .05
          s .2 -.05, .4 -.1
          s .25 .23, .4 .1
          Z" />
      </clipPath>
      <clipPath id="clip-top3" clipPathUnits="objectBoundingBox">
        <path d="M 1,.75
          v -.75
          h -1
          v .75
          l .6 .2
          q .05 .02, .1 0
          l .7 -.35
          Z
          "/>
      </clipPath>
    </defs>
  </svg>
</div>
