<div class="container">

  <h2 class="section-title">Our Population</h2>
  <p class="section-text">For an IT department, GSIT is surprisingly diverse. With so many aspects of the banking world, we have to weaponize ourselves with specific skillsets. Nowadays we have 5 main groups of skillsets and just so you know, most of our family members are highly spirited millenials.</p>

  <div class="row">
    <div class="col s12 m6 xl4">
      <div class="card-panel">
        <div class="image">
          <img src="/assets/images/about/Application-Management.png" alt="group">
        </div>
        <div class="title">Application Management</div>
        <p class="desc">We build and maintain numerous applications that are used by BCA stakeholders both internally and externally. We are also the largest group in GSIT, comprising more than 50% of the total population.</p>
      </div>
    </div>

    <div class="col s12 m6 xl4">
      <div class="card-panel">
        <div class="image">
          <img src="/assets/images/about/IT-Infrastructure.png" alt="group">
        </div>
        <div class="title">IT Infrastructure &amp; Operation</div>
        <p class="desc">We prepare and maintain the IT infrastructure so it runs smoothly. Our teams includes IT Network, Data Center, Database Admin, Automation, and a lot others.</p>
      </div>
    </div>

    <div class="col s12 m6 xl4">
      <div class="card-panel">
        <div class="image">
          <img src="/assets/images/about/Data-Management.png" alt="group">
        </div>
        <div class="title">Data &amp; IT Management Office</div>
        <p class="desc">We take care of both huge numbers of data that is produced by our systems and also each and every resident of the GSIT Family. Not to mention that we are also the ones looking for new family members such as you.</p>
      </div>
    </div>

    <div class="col s12 m6 xl4 offset-xl4">
      <div class="card-panel">
        <div class="image">
          <img src="/assets/images/about/IT-Architecture.png" alt="group">
        </div>
        <div class="title">IT Architecture &amp; Service Quality</div>
        <p class="desc">We not only carries out architectural documentation of the application, infrastructure system and data, but also ensures the quality of applications that are delivered by the IT department.</p>
      </div>
    </div>

    <div class="col s12 m6 offset-m6 xl4">
      <div class="card-panel">
        <div class="image">
          <img src="/assets/images/about/Digital-Innovation-Solution.png" alt="group">
        </div>
        <div class="title">Digital Innovation Solution</div>
        <p class="desc">We explore new technologies to support BCA’s business innovation and also create their prototypes.</p>
      </div>
    </div>
  </div>

  <div class="population">
    <img src="/assets/images/about/IT-populations.png" alt="population">
    <div class="numbers">
      <span>20's</span>
      <span>30's</span>
      <span>40's</span>
      <span>50's</span>
    </div>
    <div class="title">
      <span class="d-inline-block">Our Family</span>
      <span class="d-inline-block">Age Distribution</span>
    </div>
  </div>

</div>
