<div class="container">

  {{!-- <a href="https://karir.bca.co.id/it" class="logo">
    <span class="image"></span>
  </a> --}}

  {{#link-to "index" class="logo"}}
    <span class="image"></span>
  {{/link-to}}

  <ul id="nav-desktop" class="right hide-on-med-and-down">
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <li>{{#link-to "about"}}About{{/link-to}}</li>
    <li>{{#link-to "jobs"}}Jobs{{/link-to}}</li>
    <li>{{#link-to "articles"}}Articles{{/link-to}}</li>
  </ul>

  <ul id="nav-mobile" class="sidenav">
    <li>{{#link-to "index" click=(action "sidenav")}}Home{{/link-to}}</li>
    <li>{{#link-to "about" click=(action "sidenav")}}About{{/link-to}}</li>
    <li>{{#link-to "jobs" click=(action "sidenav")}}Jobs{{/link-to}}</li>
    <li>{{#link-to "articles" click=(action "sidenav")}}Articles{{/link-to}}</li>
  </ul>

  <a href="#" class="trigger right hide-on-large-only {{if isSidenav "open"}}" {{action "sidenav"}}>
    {{icon "menu"}}{{icon "close"}}
  </a>

</div>
