<div class="container">

  <h2 class="section-title">Our Location</h2>

  <div class="image">
    <img src="{{root-url}}assets/images/about/java-island.png" alt="">
    {{!-- <div class="title">Java</div> --}}
  </div>

  <p class="section-text">With our growing numbers, we need to accomodate each member of our family a comfortable workplace. Thus we expand from in-Jakarta based workplaces to out-Jakarta workplaces. Not only we can grow faster but this strategy also provides options for people that do not enjoy working away from their loved ones. Currently we operate in 3 cities, namely Jakarta, Surabaya, and Jogja.</p>

</div>
