<div class="ornaments">
  <span class="ornament ornament-1"></span>
  <span class="ornament ornament-2 hide-on-small-only"></span>
  <span class="ornament ornament-3 hide-on-small-only"></span>
</div>

<div class="container">
  <h2 class="title">What's your Passion ?</h2>
  <div class="sub-title">Get the job you deserve</div>

  {{!-- <p>{{icon "format_quote"}}Where there's a will, there's a way.{{icon "format_quote"}}</p> --}}
</div>
