<a href={{address}} class={{join "nav-link" link-class}} draggable="false">
  <span class="nav-label">{{yield}}</span>{{current-when}}
  {{#if active}}<span class="sr-only">(current)</span>{{/if}}
</a>
