@font-face {
  font-family: 'Champagne';
  font-style: normal;
  font-weight: normal;
  src: local('Champagne & Limousines Regular'), local('Champagne&Limousines-Regular'), url(Champagne.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Champagne';
  font-style: italic;
  font-weight: normal;
  src: local('Champagne & Limousines Italic'), local('Champagne&Limousines-Italic'), url(ChampagneItalic.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Champagne';
  font-style: normal;
  font-weight: bold;
  src: local('Champagne & Limousines Bold'), local('Champagne&Limousines-Bold'), url(ChampagneBold.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Champagne';
  font-style: italic;
  font-weight: bold;
  src: local('Champagne & Limousines Bold Italic'), local('Champagne&Limousines-Bold-Italic'), url(ChampagneBoldItalic.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
