<div class="container">
    <div class="row">
        {{#each this.model as |job|}}
        {{#link-to "jobs.view-jobs" job.id}}
        <div class="col s12 m4">
            <div class="image">
                <img src="assets/images/android.png" alt="Photo" class="responsive-img">
            </div>
            <h5 class="display">{{job.name}}</h5>
        </div>
        {{/link-to}}
        {{/each}}
{{!--         
        <div class="col s12 m4">
            <div class="image">
                <img src="assets/images/angular.png" alt="Photo" class="responsive-img">
            </div>
            <h5 class="display">ANGULAR DEVELOPER</h5>
        </div>
        <div class="col s12 m4">
            <div class="image">
                <img src="assets/images/database.png" alt="Photo" class="responsive-img">
            </div>
            <h5 class="display">DATABASE ADMIN</h5>
        </div>
        <div class="col s12 m4">
            <div class="image">
                <img src="assets/images/python.png" alt="Photo" class="responsive-img">
            </div>
            <h5 class="display">PYTHON DEVELOPER</h5>
        </div>
        <div class="col s12 m4">
            <div class="image">
                <img src="assets/images/full-stack.png" alt="Photo" class="responsive-img">
            </div>
            <h5 class="display">FULL-STACK DEVELOPER</h5>
        </div>
        <div class="col s12 m4">
            <div class="image">
                <img src="assets/images/java.png" alt="Photo" class="responsive-img">
            </div>
            <h5 class="display">JAVA DEVELOPER</h5>
        </div> --}}
    </div>
</div>