<div class="container">
  <div class="row">

    <div class="col l4 hide-on-med-and-down">
      Image
    </div>

    <div class="col s12 m6 l4">
      <h5>Featured Jobs</h5>
      {{#each this.model as |job|}}
      <ul>
        <li>{{job.name}}</li>
      </ul>
      {{/each}}
    </div>

    <div class="col s12 m6 l4">
      <h5>Social Media</h5>
      <div class="social-content">
        <div class="col s6">
          <a href="#">
            <img src="/assets/images/facebook.png" alt="facebook" class="img">
          </a>
        </div>
        <div class="col s6">
          <a href="#">
            <img src="/assets/images/instagram.png" alt="facebook" class="img">
          </a>
        </div>
        <div class="col s6">
          <a href="#">
            <img src="/assets/images/twitter.png" alt="facebook" class="img">
          </a>
        </div>
        <div class="col s6">
          <a href="#">
            <img src="/assets/images/linkedin.png" alt="facebook" class="img">
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="small valign-wrapper">
    <span class="valign-wrapper">
      <span class="image"></span>
      <span class="ml-1">BCA TERDAFTAR DAN DIAWASI OLEH OJK</span>
    </span>
    <span class="copyright">Copyright &copy;2019 PT Bank Central Asia Tbk, All Rights Reserved</span>
  </div>
</div>