<div class="container">
  <div class="row">

    <div class="col l4 hide-on-med-and-down">
      Image
    </div>

    <div class="col s12 m6 l4">
      <h5>Featured Jobs</h5>
      <ul>
        <li>Job 1</li>
        <li>Job 2</li>
        <li>Job 3</li>
      </ul>
    </div>

    <div class="col s12 m6 l4">
      <h5>Social Media</h5>
    </div>

  </div>

  <div class="small valign-wrapper">
    <span class="valign-wrapper">
      <span class="image"></span>
      <span class="ml-1">BCA TERDAFTAR DAN DIAWASI OLEH OJK</span>
    </span>
    <span class="copyright">Copyright &copy;2019 PT Bank Central Asia Tbk, All Rights Reserved</span>
  </div>
</div>
