{{!-- <h1 class="mt-0">CAROUSEL</h1> --}}

<div class="container">

  <div class="carousel carousel-slider center">
    <div class="carousel-item blue white-text valign-wrapper">
      <h1>Iklan BIT</h1>
    </div>
    <div class="carousel-item yellow valign-wrapper">
      <h1>Iklan Staf IT</h1>
    </div>
    <div class="carousel-item purple white-text valign-wrapper">
      <h1>Iklan Magang</h1>
    </div>
    <div class="carousel-item teal white-text valign-wrapper">
      <h1>Iklan PPTI</h1>
    </div>
    <div class="carousel-item"><img alt="img4" src="https://lorempixel.com/800/400/food/1"></div>
  </div>

</div>
