<div class="left hide-on-small-only">
  <button class="waves-effect waves-black content-indicator icon-left" {{action "moveToPrev"}}><i class="material-icons icon-style">chevron_left</i></button>
</div>

<div class="right hide-on-small-only">
  <button class="waves-effect waves-black content-indicator icon-right" {{action "moveToNext"}}><i class="material-icons icon-style">chevron_right</i></button>
</div>

<div class="carousel carousel-slider">
  <div id="carousel-1" class="carousel-item" data-color="light-blue">
    <div class="container">
      <span class="image img-1"></span>

      <div class="display-1">SPECIALIZED Career Path</div>
      <div class="display-2">BCA IT TRAINEE</div>

      <a class="btn btn-large waves-effect waves-light apply">Game On</a>
    </div>
  </div>
  <div id="carousel-2" class="carousel-item" data-color="pink lighten-2">
    <div class="container">
      <span class="image img-2"></span>

      <div class="display-1">Make an IMPACT as an</div>
      <div class="display-2">IT PROFESSIONAL</div>

      <a class="btn btn-large waves-effect waves-light apply">I'm in</a>
    </div>
  </div>
  <div id="carousel-3" class="carousel-item" data-color="amber">
    <div class="container">
      <span class="image img-3"></span>

      <div class="display-1">Gain valuable EXPERIENCE with</div>
      <div class="display-2">INTERNSHIP</div>

      <a class="btn btn-large waves-effect waves-light apply">Sail Ho!</a>
    </div>
  </div>
  <div id="carousel-4" class="carousel-item" data-color="green">
    <div class="container">
      <span class="image img-4"></span>

      <div class="display-1">Get your IT SCHOLARSHIP</div>
      <div class="display-2">PPTI</div>

      <a class="btn btn-large waves-effect waves-light apply">Find Out</a>
    </div>
  </div>
</div>
