<div class="carousel carousel-slider">
  <div class="carousel-item" data-color="light-blue">
    <div class="container">
      <span class="image img-1"></span>

      <div class="display-1">SPECIALIZED Career Program</div>
      <div class="display-2">BCA IT TRAINEE</div>

      <a class="btn btn-large pink waves-effect waves-light apply">Game On</a>
    </div>
  </div>
  <div class="carousel-item" data-color="red">
    <div class="container">
      <span class="image img-2"></span>

      <div class="display-1">Make an IMPACT as an</div>
      <div class="display-2">IT PROFESSIONAL</div>

      <a class="btn btn-large blue waves-effect waves-light apply">I'm in</a>
    </div>
  </div>
  <div class="carousel-item" data-color="amber">
    <div class="container">
      <span class="image img-3"></span>

      <div class="display-1">Gain valuable EXPERIENCE with</div>
      <div class="display-2">INTERNSHIP</div>

      <a class="btn btn-large purple waves-effect waves-light apply">Sail Ho!</a>
    </div>
  </div>
  <div class="carousel-item" data-color="green">
    <div class="container">
      <span class="image img-4"></span>

      <div class="display-1">Get your IT SCHOLARSHIP</div>
      <div class="display-2">PPTI</div>

      <a class="btn btn-large orange waves-effect waves-light apply">Find Out</a>
    </div>
  </div>
</div>
