<div class="container box">
  <div class="carousel carousel-slider">
    <div class="left hide-on-small-only">
      <button class="btn-floating btn-small btn-prev" {{action "prev"}}>{{icon "chevron_left"}}</button>
    </div>

    <div class="right hide-on-small-only">
      <button class="btn-floating btn-small btn-next" {{action "next"}}>{{icon "chevron_right"}}</button>
    </div>
    <div id="carousel-1" class="carousel-item">
      <div class="container">
        <span class="image img-1"></span>

        <div class="display-1">SPECIALIZED Career Path</div>
        <div class="display-2">BCA IT TRAINEE</div>

        <a class="btn  waves-effect waves-light apply">Game On</a>
      </div>
    </div>
    <div id="carousel-2" class="carousel-item">
      <div class="container">
        <span class="image img-2"></span>

        <div class="display-1">Make an IMPACT as an</div>
        <div class="display-2">IT PROFESSIONAL</div>

        <a class="btn  waves-effect waves-light apply">I'm in</a>
      </div>
    </div>
    <div id="carousel-3" class="carousel-item">
      <div class="container">
        <span class="image img-3"></span>

        <div class="display-1">Gain valuable EXPERIENCE with</div>
        <div class="display-2">INTERNSHIP</div>

        <a class="btn  waves-effect waves-light apply">Sail Ho!</a>
      </div>
    </div>
    <div id="carousel-4" class="carousel-item">
      <div class="container">
        <span class="image img-4"></span>

        <div class="display-1">Get your IT SCHOLARSHIP</div>
        <div class="display-2">PPTI</div>

        <a class="btn  waves-effect waves-light apply">Find Out</a>
      </div>
    </div>
  </div>
</div>
