{{!-- <h1 class="mt-0">CAROUSEL</h1> --}}

<div class="container">

  <div class="carousel carousel-slider center">
    <div class="carousel-item blue white-text">
      <span class="image1"></span>
      <div class="content-wrapper">
        <div class="display">FIND YOUR POTENTIAL AS</div>
        <div class="display1">FRESH GRADUATES</div>
        <a class="btn waves-effect waves-light apply">APPLY</a>
      </div>
    </div>
    <div class="carousel-item purple white-text">
      <span class="image3"></span>
      <div class="content-wrapper">
        <div class="display">LEARN AND GROW</div>
        <div class="display1">MORE DEEPER</div>
        <a class="btn waves-effect waves-light apply">APPLY</a>
      </div>
    </div>
    <div class="carousel-item teal">
      <span class="image4"></span>
      <div class="content-wrapper">
        <div class="display">DEVELOP YOUR SKILL AS</div>
        <div class="display1">PROFESSIONAL</div>
        <a class="btn waves-effect waves-light apply">APPLY</a>
      </div>
    </div>
    <div class="carousel-item"><img alt="img4" src="https://lorempixel.com/800/400/food/1"></div>
  </div>

</div>
