<div class="container">
  <div class="row mb-0">

    <div class="input-field col s12 m4">
      {{#input/input-select value=specialization placeholder="Specialization"}}
        <option value="programmer">Programmer</option>
        <option value="infrastructure">IT Infrastructure</option>
        <option value="data">Data</option>
        <option value="others">Others</option>
      {{/input/input-select}}
    </div>

    <div class="input-field col s12 m4">
      {{#input/input-select value=location placeholder="Location"}}
        <option value="jabodetabek">Jakarta</option>
        <option value="surabaya">Surabaya</option>
        <option value="yogyakarta">Jogja</option>
      {{/input/input-select}}
    </div>

    <div class="input-field col s12 m4">
      <button class="btn clear" {{action clear}}>Clear Filter{{icon "close" class="right"}}</button>
    </div>

  </div>
</div>
