// Layout

#articles-view {
  padding: 2rem 0;

  .ornaments {
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;

    @media #{$medium-and-up} { height: 450px; }
    @media #{$large-and-up} { height: 500px; }
    @media #{$extra-large-and-up} { height: 550px; }

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      width: 100%;
      height: 60rem;
    }
  }

  .ornament {
    position: absolute;

    &.ornament-1 {
      width: 320px; height: 320px;
      top: -6rem;
      left: -3rem;
      transform: rotate(180deg);
    }

    &.ornament-2 {
      width: 250px; height: 250px;
      top: 15rem;
      right: -2rem;
    }

    &.ornament-3 {
      width: 150px; height: 150px;
      top: .2rem;
      right: 35%;
    }
  }

  .title {
    position: relative;
    margin: 5rem 0 3rem;

    @media #{$medium-and-up} { margin-top: 10rem; }

    .date {
      display: block;
      margin-bottom: .5rem;
    }

    .display { margin-top: 0; }

    .image {
      position: relative;
      height: 80vw;
      margin-top: 2.5em;
      border-radius: 15px;
      overflow: hidden;

      @media #{$medium-and-up} { height: 500px; }

      img {
        height: 100%;
        border-radius: 15px;
      }
    }
  }

  .content {
    position: relative;
    margin-bottom: 3rem;

    img:first-child {
      max-width: 100%;
      height: auto;
      margin-bottom: 1.5rem !important;

      @media #{$medium-and-up} {
        width: 50%;
        max-width: 30rem;
        margin-right: 2rem !important;
        float: left;
      }
    }
  }

  .tags {
    position: relative;
    clear: both;

    label {
      display: block;
      margin-bottom: .5rem;
    }

    .tag {
      margin-right: .5rem;
      border-radius: 20px;
    }
  }

  .back {
    position: relative;
    display: block;
    margin: 2rem auto;
    clear: both;

    &:hover, &:focus, &:active {
      > i { transform: translate(-.3em, 0); }
    }
  }
}


// Styling

#articles-view {
  background-color: white;

  .ornaments {
    background-color: #015daa;
    background-image: linear-gradient(#015daa 0%, #0094d6 75%, #00b7f1 100%);

    &::before {
      background: white;
      background-image: linear-gradient(#d8e2eb, white);
    }
  }

  .ornament {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &.ornament-1 { background-image:url(./images/home/home-top-ornament-4.png); opacity: .5; }
    &.ornament-2 { background-image:url(./images/home/home-top-ornament-3.png); opacity: .7; }
    &.ornament-3 { background-image:url(./images/home/home-top-ornament-2.png); opacity: .4; }
  }

  .title {
    .date { font-size: 1.2em; }

    .display {
      font-family: $font-heading;
      font-weight: $font-bold;
      font-size: 2em;
      letter-spacing: .02em;
      text-shadow: .09em .12em rgba(black, .25);

      @media #{$large-and-up} { font-size: 2.5em; }
      @media #{$extra-large-and-up} { font-size: 3em; }
    }

    .image { text-align: center; }
  }

  .content {
    color: $text-color;

    @media #{$small-and-down} { font-size: 1.2em; }

    img {
      @media #{$medium-and-up} {
        box-shadow: .4rem .4rem 0 rgba(black, .4),
                    .8rem .8rem 0 rgba(black, .3);
      }
    }
  }

  .tags {
    color: $text-color;

    label {
      font-weight: $font-bold;
      font-size: 1.4em;
      color: $primary-color;
    }

    .tag {
      @extend .z-depth-1;
      background-color: color('grey', 'base');

      font-weight: $font-semibold;
      text-transform: none;

      &:hover, &:focus, &:active {
        background-color: $primary-color;
      }
    }
  }

  .back {
    text-align: center;
    font-weight: $font-semibold;
    font-size: 1.2em;
  }
}


// Animation

#articles-view {
  .tags .tag {
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
  }

  .back > i {
    -webkit-transition: transform .15s;
    transition: transform .15s;
  }
}
