<div class="container">
  <div class="part">
    <div class="group">
      <div class="section-title">Vision and Mission</div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </div>
    </div>
    <div class="group">
      <div class="section-title">Values</div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </div>
    </div>
  </div>
  {{!-- <div class="section-1">
    <div class="titleVisiMisi"> Visi & Misi</div>
  </div>
  <div class="section-2">
    <div class="titleValue">Values</div>
  </div> --}}
  {{!-- <div class="title">Working at IT BCA</div>
  <div class="row">
    <div class="col s12 m4 image">
      <span class="imageFormat openSpace"></span>
      <div class="content-title">Open Space Environment</div>
    </div>
    <div class="col s12 m4 image">
      <span class="imageFormat flexiTime"></span>
      <div class="content-title">Flexible Working Hours</div>
    </div>
    <div class="col s12 m4 image">
      <span class="imageFormat smartCasual"></span>
      <div class="content-title">Smart Casual Attire</div>
    </div>
  </div> --}}
</div>