<div class="container">
  <div class="section-title">Wish to join the team?</div>
  <div class="center-content">
    We strive to create a growth culture both on business
    <span>and personal level everyone involved.</span>
  </div>
  <div class="link-to">
    Click <span>here</span> for more info
  </div>
</div>