<div class="container">

  <h3 class="section-title">Interested ?</h3>

  <div class="center-align text">
    <span class="d-inline-block">You'll never know until you try.</span>
    <span class="d-inline-block">Don't miss out the {{#link-to "jobs.index"}}opportunity{{/link-to}} to work with us!</span>
  </div>

</div>
