<span class="top"></span>
<div class="container">
  <h3 class="display">{{model.title}}</h3>
  <div class="date">Written on {{date model.date}}</div>

  <div class="content">{{html model.article}}</div>
</div>
