//layout
#about-top{
  height: 400px;
  padding: 100px 0 4rem;
  box-sizing: content-box;
  position: relative;

  .title{
    margin-right: 4rem;
  }

  .image{
    position: absolute;
    width: 250px;
    height: 250px;

    left: 50%;
    margin-left: -125px;

    @media #{$medium-and-up} {
      width: 500px;
      left: 50%;
      margin-left: -250px;
      bottom: 2rem;
    }
  }

  .display{

    @media #{$medium-and-up}{
      margin-top: 1rem;
    }
  }
}

#about-history{
  @extend .valign-wrapper;
  box-sizing: content-box;
  padding-bottom: 3rem;

  .container{ position: relative; }

  .section-title {
    position: relative;
    padding-bottom: 1.4rem;
    display: inline-block;
    margin: 3rem 0 2rem 0;

    @media #{$medium-and-up} {
      // display: inline-block;
      margin: 3rem 0 2rem 1rem;
    }
    @media #{$large-and-up} {
      margin: 3rem 0 2rem 3rem;
    }
  }

  .image{
    // position: absolute;
    width: 200px;
    height: 100px;
    float: right;

    @media #{$medium-and-up}{
      width: 288px;
      height: 190px;
      margin-top: 3rem;
      box-shadow: 10px 10px;
    }


    @media #{$large-and-up} {
      width: 342px;
      height: 226px;
      box-shadow: 15px 15px;
    }
  }

  .content{
    width: 50%;
    display: block;
  }
}

#about-statistic{
  box-sizing: content-box;
  padding: 3rem 0;

  >.container{ position: relative; }

  .image-1{
    width: 213px;
    height: 147px;
    float: left;
    clear: both;
    @media #{$medium-and-up}{
      width: 355px;
      height: 245px;
    }
  }
  .image-2{
    width: 213px;
    height: 142px;
    float: left;
    clear: both;
    @media #{$medium-and-up}{
      width: 354px;
      height: 236px;
    }
  }
  .top-title{
    width: 50%;
    margin-left: auto;
    text-align: right;

  }
  .count-employee{
    width: 50%;
    margin-left: auto;
    text-align: center;
    margin-top: -4rem;
  }
  .bottom-title{
    width: 50%;
    margin-left: auto;
    text-align: left;
    margin-top: -3.5rem;
  }

  .content{
    width: 50%;
    margin-left: auto;
    margin-top: 1rem;
  }
}

#about-location{
  height: 500px;
  padding: 3rem 0;
  >.container{
    position: relative;
  }

  .location-title{
    padding-bottom:.5rem;
  }

  .imageMap{
    position: absolute;
    width: 200px;
    height: 100px;

    @media #{$medium-and-up}{
      width: 400px;
      height: 225px;
      right: 0;
      margin-top: 1rem;
    }


    @media #{$large-and-up} {
      width: 475px;
      height: 250px;
      margin-top: -2rem;
    }
  }

  .content{
    position: relative;
    width: 45%;
    // display: block;
  }

  ul#list{
    position: absolute;
    right: 10%;
    bottom: -7rem;

    @media #{ $large-and-up}  { left: 30%; }

    .list1, .list2, .list3{
      padding-bottom: .5rem;
    }
    .list1{
      li{
        padding-right: 4rem;
      }
      li:last-child{
        margin-left: -1rem;
      }
    }
    li{
      display: inline;
      padding-right: 1rem;
    }
  }
}

#about-visimisi{
  @extend .valign-wrapper;
  padding: 3rem 0;

  .title{
    padding-bottom: 2rem;
  }
  .content-title{
    padding-top: 1rem;
  }
  .imageFormat{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:hover, &:focus, &:active {
      transform: translate(0, -.6rem);
    }
  }
  .openSpace{
    width: 250px;
    height: 200px;
  }
  .flexiTime{
    width: 200px;
    height: 200px;
  }
  .smartCasual{
    width: 150px;
    height: 200px;
  }
}


//Styling
#about-top{

  .title {
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: .2rem;
    text-align: right;
    text-shadow: 0 .2rem .3rem rgba(0, 0, 0, .7);


    @media #{$large-and-up} { font-size: 2.5em; }
    @media #{$extra-large-and-up} { font-size: 3em; }
  }

  .image{
    background-image: url(./images/WHO-WE-ARE.png);
    background-size:contain;
    background-repeat: no-repeat;
  }
}

#about-history{
  background-color: color('grey', 'lighten-5');
  color: $off-black;
  .section-title {
    color: $secondary-color;
    font-size: 1.5em;

    @media #{$medium-and-up} { font-size: 3em; }
    @media #{$extra-large-and-up} { font-size: 5em; }

    &::before {
      border-color: $primary-color;
    }
  }
  .image{
    background-image: url(./images/3-WITHOUT-FRAME.png);
    background-size:contain;
    background-repeat: no-repeat;
    // &::before{
    //   background-color: black;
    // }
  }
}

#about-statistic{
  .image-1{
    background-image: url(./images/stat-employee.png);
    background-size:contain;
    background-repeat: no-repeat;
  }
  .image-2{
    background-image: url(./images/line-chart.png);
    background-size:contain;
    background-repeat: no-repeat;
  }
  .top-title{
    font-weight: bold;
    font-size: 3.5em;
  }
  .count-employee{
    font-weight: bold;
    font-size: 10em;
  }
  .bottom-title{
    font-weight: bold;
    font-size: 2em;
  }
}

#about-location{
  background-color: color('grey', 'lighten-5');
  // background-color: black;
  color: $off-black;
  .location-title{
    font-weight: bold;
    font-size: 2em;

    @media #{$medium-and-up} { font-size: 4em; }
    @media #{$extra-large-and-up} { font-size: 6em; }
  }

  .imageMap{
    background-image: url(./images/location.png);
    background-size:contain;
    background-repeat: no-repeat;
  }

  ul#list{
    .list1, .list2, .list3{
      font-size: .8em;

      @media #{$large-and-up}{ font-size: 1em; }
    }
  }
}

#about-visimisi{
  .title{
    font-weight: bold;
    font-size: 2em;
    text-align: center;

    @media #{$medium-and-up} { font-size: 3em; }
    @media #{$extra-large-and-up} { font-size: 4em; }
  }
  .content-title{
    font-weight: bold;
    font-size: 1em;
    text-align: center;

    @media #{$medium-and-up} { font-size: 1.5em; }
    @media #{$extra-large-and-up} { font-size: 2em; }
  }
  .openSpace{
    background-image: url(./images/openspace.png);
    background-size:contain;
    background-repeat: no-repeat;
  }
  .flexiTime{
    background-image: url(./images/flexitime.png);
    background-size:contain;
    background-repeat: no-repeat;
  }
  .smartCasual{
    background-image: url(./images/smartcasual.png);
    background-size:contain;
    background-repeat: no-repeat;
  }
}

//Animation
#about-visimisi{
  .imageFormat{
    -webkit-transition: transform .3s;
    transition: transform .3s;
  }
}