//layout
#about-top{
  height: 400px;
  padding: 100px 0 4rem;
  box-sizing: content-box;
  position: relative;

  .title{
    margin-right: 4rem;
  }

  .image{
    position: absolute;
    width: 250px;
    height: 250px;

    left: 50%;
    margin-left: -125px;

    @media #{$medium-and-up} {
      width: 500px;
      left: 50%;
      margin-left: -250px;
      bottom: 2rem;
    }
  }

  .display{

    @media #{$medium-and-up}{
      margin-top: 1rem;
    }
  }
}

#about-history{
  z-index: -2;
  @extend .valign-wrapper;
  box-sizing: content-box;
  padding-bottom: 3rem;

  .container{ position: relative; }

  .section-title {
    position: relative;
    padding-bottom: 1.4rem;
    display: inline-block;
    margin: 3rem 0 2rem 0;

    @media #{$medium-and-up} {
      // display: inline-block;
      margin: 3rem 0 2rem 1rem;
    }
    @media #{$large-and-up} {
      margin: 3rem 0 2rem 3rem;
    }
  }

  .image{
    // position: absolute;
    width: 200px;
    height: 100px;
    float: right;

    @media #{$medium-and-up}{
      width: 288px;
      height: 190px;
      margin-top: 2rem;
      box-shadow: 10px 10px;
    }


    @media #{$large-and-up} {
      width: 342px;
      height: 226px;
      // right: 0;
      // float: right;
      box-shadow: 15px 15px;

      // &::before{
      //   content: '';
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   z-index: -1;
      //   margin-left: .6rem;
      //   margin-top: .6rem;
      // }
    }
  }

  .content{
    width: 50%;
    display: block;
  }
}

#about-statistic{
  box-sizing: content-box;
  padding: 3rem 0;

  >.container{ position: relative; }

  .image-1{
    width: 213px;
    height: 147px;
    float: left;
    clear: both;
    @media #{$medium-and-up}{
      width: 355px;
      height: 245px;
    }
  }
  .image-2{
    width: 213px;
    height: 142px;
    float: left;
    clear: both;
    @media #{$medium-and-up}{
      width: 354px;
      height: 236px;
    }
  }
  .top-title{
    width: 50%;
    margin-left: auto;
    text-align: right;

  }
  .count-employee{
    width: 50%;
    margin-left: auto;
    text-align: center;
    margin-top: -4rem;
  }
  .bottom-title{
    width: 50%;
    margin-left: auto;
    text-align: left;
    margin-top: -3.5rem;
  }

  .content{
    width: 50%;
    margin-left: auto;
    margin-top: 1rem;
  }
}

#about-location{
  // box-sizing: content-box;
}

#about-visimisi{
  // box-sizing: content-box;
}


//Styling
#about-top{

  .title {
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: .2rem;
    text-align: right;
    text-shadow: 0 .2rem .3rem rgba(0, 0, 0, .7);


    @media #{$large-and-up} { font-size: 2.5em; }
    @media #{$extra-large-and-up} { font-size: 3em; }
  }

  .image{
    background-image: url(./images/WHO-WE-ARE.png);
    background-size:contain;
    background-repeat: no-repeat;
  }
}

#about-history{
  background-color: color('grey', 'lighten-5');
  color: $off-black;
  .section-title {
    color: $secondary-color;
    font-size: 1.5em;

    @media #{$medium-and-up} { font-size: 3em; }
    @media #{$extra-large-and-up} { font-size: 5em; }

    &::before {
      border-color: $primary-color;
    }
  }
  .image{
    background-image: url(./images/3-WITHOUT-FRAME.png);
    background-size:contain;
    background-repeat: no-repeat;
    // &::before{
    //   background-color: black;
    // }
  }
}

#about-statistic{
  .image-1{
    background-image: url(./images/stat-employee.png);
    background-size:contain;
    background-repeat: no-repeat;
  }
  .image-2{
    background-image: url(./images/line-chart.png);
    background-size:contain;
    background-repeat: no-repeat;
  }
  .top-title{
    font-weight: bold;
    font-size: 3.5em;
  }
  .count-employee{
    font-weight: bold;
    font-size: 10em;
  }
  .bottom-title{
    font-weight: bold;
    font-size: 2em;
  }
}