// Layout

#articles-top {
  padding: 100px 0 2rem;

  .title { margin: 0; }
}

#articles-content {
  padding: 1rem 0;

  .row .col {
    padding: .5rem 1rem;
  }

  .card {
    position: relative;
    overflow: hidden;

    @media #{$small-and-down} { display: flex; }

    &:hover, &:focus, &:active {
      transform: translate(0, -.4rem);
    }

    .card-image {
      @extend .valign-wrapper;
      flex-direction: column;
      position: relative;
      height: 0;
      padding-top: 75%;
      overflow: hidden;

      @media #{$small-and-down} {
        width: 40%;
        padding-top: 40%;
      }

      .image {
        position: absolute;
        height: 100%;
        top: 0;

        img {
          width: auto;
          height: 100%;
        }
      }
    }

    .card-content {
      position: relative;
      height: 10rem;
      overflow: hidden;

      @media #{$small-and-down} {
        width: 60%;
        height: 0;
        padding: 40% 0 0;

        p {
          position: absolute;
          top: 0;
          margin: .75rem;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 24px;
        z-index: 1000;

        @media #{$small-and-down} { height: .75rem; }
      }

      .date, .title { display: block; }
    }

    .card-action a {
      &:hover, &:focus, &:active {
        i { margin-left: .75rem; }
      }

      i { margin-left: .25rem; }
    }

    .card-cover {
      position: absolute;
      width: 100%; height: 100%;
      z-index: 1010;
    }
  }
}

#articles-view {
  padding: 2rem 0;

  .date { margin-bottom: 1.5rem; }

  .content img:first-child {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem !important;

    @media #{$medium-and-up} {
      width: 50%;
      max-width: 30rem;
      margin-right: 2rem !important;
      float: left;
    }
  }
}


// Styling

#articles-top {
  background-image: url(./images/pattern.png),
                    linear-gradient(-10deg, $secondary-color, darken($secondary-color, 15%));
  background-color: color('grey', 'darken-4');
  background-position: center top;
  background-attachment: fixed;

  @media #{$medium-and-up} {
    background-image: url(./images/pattern.png),
                      linear-gradient(-10deg, $secondary-color 50%, darken($secondary-color, 15%));
  }

  .title {
    font-family: $font-stack;
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .2rem .3rem rgba(0, 0, 0, .7);


    @media #{$large-and-up} { font-size: 2.5em; }
    @media #{$extra-large-and-up} { font-size: 3em; }
  }
}

#articles-content {
  background-color: color('grey', 'lighten-5');

  .card {
    &:hover, &:focus, &:active {
      @extend .z-depth-3;
    }

    // .card-title {
    //   text-shadow: 1px 2px 2px rgba(0, 0, 0, .6);
    // }

    .card-content {
      color: $off-black;

      &::before { background-color: white; }

      .date {
        font-size: .8em;
        color: color('grey', 'lighten-1');
      }

      .title {
        font-weight: bold;
        font-size: 1.4em;
        line-height: 1.2;
        letter-spacing: -.025em;

        @media #{$small-and-down} { font-size: 1em; }
      }
    }

    .card-action {
      font-weight: 600;

      a {
        font-size: 1em;
        text-transform: uppercase;
      }
    }
  }
  // background-color: $primary-color;
  // .title {
  //   font-weight: bold;
  //   font-size: 2.2em;
  //   letter-spacing: .2rem;
  //   text-align: center;
  //   text-shadow: 0 .2rem .3rem rgba(0, 0, 0, .7);


  //   @media #{$large-and-up} { font-size: 2.5em; }
  //   @media #{$extra-large-and-up} { font-size: 3em; }
  // }
}

#articles-view {
  background-color: color('grey', 'lighten-5');

  .display{
    font-weight: bold;
    font-size: 2em;
    color: $off-black;

    @media #{$large-and-up} { font-size: 2.5em; }
    @media #{$extra-large-and-up} { font-size: 3em; }
  }

  .date {
    color: $text-color;
  }

  .content {
    color: $text-color;

    img {
      @media #{$medium-and-up} {
        box-shadow: .4rem .4rem 0 rgba(black, .4),
                    .8rem .8rem 0 rgba(black, .3);
      }
    }
  }
}


// Animation

#articles-content {
  .card {
    -webkit-transition: transform .3s, box-shadow .3s;
    transition: transform .3s, box-shadow .3s;

    .card-action a > i {
      -webkit-transition: margin-left .15s;
      transition: margin-left .15s;
    }
  }
}
