// Layout

.table-of-contents{
  position: absolute;
  right: 0;
  width: 140px;
  margin-right: 1rem;
  a{
    width: 100%;
    text-align: right;
  }
}

#articles-top {

  position: relative;
  padding: 100px 0 10rem;
  height: 500px;
  box-sizing: content-box;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 35vw;
    // z-index: -1;
    background: linear-gradient(#015daa 0%, #0094d6 50%, #00b7f1 100%);
    z-index: 1;
    // @media #{$large-and-up}{
    //   height: 35vw;
    // }
    // @media #{$small-and-down}{

    // }
  }

  >.container{
    position: relative;
    z-index: 2
   }

  .main-title{
    font-size: 1.5em;
    width: 130px;
  }

  .container-indicator{
    position: absolute;
    top: 50%;
    width: 100%;
    .content-indicator{
      border-radius: 50%;
      padding: .1rem;
      background-color: white;
      border: 0;
      .icon-style{
        font-size: 32px;
        color:color('grey', 'darken-4');
      }
    }
    .icon-left{
      left: 3rem;
    }
    .icon-right{
      right: 3rem;
    }
  }

  .slider-photo{
    // width: 700px;
    // width: fit-content;
    height: 30vw;
    position: relative;
    margin: -2rem auto 0;
    top: -1rem;
    // left: 50%;
    // margin-left: -300px;
    // top: 0;
    img{
      position: relative;
      border-radius: 10px;
      height: 100%;
      object-fit: contain;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .slider-content{
    width: 450px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    // margin-left: 10%;
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    z-index: 1;
    top: -5rem;

    &::before{
      content: "";
      position: absolute;
      width: 100%;
      bottom: 3rem;
      left: 0;
      border-bottom: .1rem solid #eee;
    }

    .content-title{
      position: relative;
      color: $off-black;
      font-weight: bold;
      font-size: 1.7em;
      line-height: 1.2;
      letter-spacing: -.025em;

      @media #{$small-and-down} { font-size: 1em; }
    }
    .content-date{
      color: $off-black;
      position: absolute;
      bottom: .6rem;
      left: 2rem;
      .date {
        color: color('grey', 'lighten-1');
      }
    }
    .slider-action{
      position: absolute;
      bottom: .6rem;
      right: 2rem;
      &:hover, &:focus, &:active {
        i { margin-left: .75rem; }
      }
    }
    // bottom: 0;
  }
  .indicators{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    .indicator-item{
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 16px;
      width: 16px;
      margin: 0 12px;
      background-color: #e0e0e0;
      -webkit-transition: background-color .3s;
      transition: background-color .3s;
      border-radius: 50%;
    }
    .indicator-item.active{
      background-color: #4CAF50;
    }
  }
}

#articles-content {
  background: linear-gradient(#aabcd0 0%, #fefeff 50%, #ffffff 100%)  ;
  // padding: 1rem 0;
  margin-top: -15rem;
  padding-top: 6rem;
  // box-sizing: content-box;

  @media #{$large-and-up} {
    margin-top: -30rem;
    padding-top: 35vw;
  }
  @media #{$small-and-down}{
    margin-top: -14rem;
    padding-top: 2rem;
  }

  .section-title {
    position: relative;
    margin: 2rem 0 4rem 0;
    padding-bottom: 1.2rem;
    padding-top: 2rem;

    text-align: center;
    font-family: $font-stack;
    font-weight: 900;
    font-size: 3rem;
    color: $off-black;

    &::before {
      content: '';
      position: absolute;
      width: 8rem;
      left: 50%;
      bottom: -.6rem;
      margin-left: -4rem;

      border-top: .6rem solid $primary-color;
    }
  }

  .row {
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      // bottom: 3rem;
      // left: 0;
      border-bottom: .15rem solid rgba(169, 173, 174, .5);
    }
    .col{
      padding: 1rem 2.5rem;
    }
  }

  .card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    // box-shadow: 8px 5px 20px rgba(0, 0, 0, 0.14);
    // border: 0.1rem solid #eee;

    @media #{$small-and-down} { display: flex; }

    &:hover, &:focus, &:active {
      transform: translate(0, -.4rem);
    }

    .card-image {
      @extend .valign-wrapper;
      flex-direction: column;
      position: relative;
      height: 0;
      padding-top: 75%;
      overflow: hidden;

      @media #{$small-and-down} {
        width: 40%;
        padding-top: 40%;
      }

      .image {
        position: absolute;
        height: 100%;
        top: 0;

        img {
          width: auto;
          height: 100%;
        }
      }
    }

    .card-content {
      position: relative;
      height: 6rem;
      overflow: hidden;

      @media #{$small-and-down} {
        width: 60%;
        height: 0;
        padding: 40% 0 0;

        p {
          position: absolute;
          top: 0;
          margin: .75rem;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15px;
        z-index: 1000;

        @media #{$small-and-down} { height: .75rem; }
      }

      .date, .title { display: block; }
    }

    .card-action {
      position: relative;
      padding-top: 10%;
      .date{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        margin-left: 24px;
      }
      a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        &:hover, &:focus, &:active {
          i { margin-left: .75rem; }
        }

        i { margin-left: .25rem; }
      }
    }

    .card-cover {
      position: absolute;
      width: 100%; height: 100%;
      z-index: 1010;
    }
  }
}

#articles-view {
  padding: 2rem 0;

  .date { margin-bottom: 1.5rem; }

  .content img:first-child {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem !important;

    @media #{$medium-and-up} {
      width: 50%;
      max-width: 30rem;
      margin-right: 2rem !important;
      float: left;
    }
  }
}


// Styling

#articles-top {
  // background-image: url(./images/pattern.png),
  //                   linear-gradient(-10deg, $secondary-color, darken($secondary-color, 15%));
  // background-color: color('grey', 'darken-4');
  // background-position: center top;
  // background-attachment: fixed;

  // @media #{$medium-and-up} {
  //   background-image: url(./images/pattern.png),
  //                     linear-gradient(-10deg, $secondary-color 50%, darken($secondary-color, 15%));
  // }

  .title {
    font-family: $font-stack;
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .2rem .3rem rgba(0, 0, 0, .7);


    @media #{$large-and-up} { font-size: 2.5em; }
    @media #{$extra-large-and-up} { font-size: 3em; }
  }
  .slider-action{
    font-weight: 600;

      a {
        font-size: 1em;
        text-transform: uppercase;
      }
  }
}

#articles-content {
  background-color: color('grey', 'lighten-5');

  .filter{
    p{
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .card {
    @extend .z-depth-2;
    &:hover, &:focus, &:active {
      @extend .z-depth-3;
    }

    // .card-title {
    //   text-shadow: 1px 2px 2px rgba(0, 0, 0, .6);
    // }

    .card-content {
      color: $off-black;

      &::before { background-color: white; }



      .title {
        font-weight: bold;
        font-size: 1.4em;
        line-height: 1.2;
        letter-spacing: -.025em;

        @media #{$small-and-down} { font-size: 1em; }
      }
    }

    .card-action {
      font-weight: 600;

      .date {
        font-size: .8em;
        color: color('grey', 'lighten-1');
      }

      a {
        font-size: 1em;
        text-transform: uppercase;
      }
    }
  }
  // background-color: $primary-color;
  // .title {
  //   font-weight: bold;
  //   font-size: 2.2em;
  //   letter-spacing: .2rem;
  //   text-align: center;
  //   text-shadow: 0 .2rem .3rem rgba(0, 0, 0, .7);


  //   @media #{$large-and-up} { font-size: 2.5em; }
  //   @media #{$extra-large-and-up} { font-size: 3em; }
  // }
}

#articles-view {
  background-color: color('grey', 'lighten-5');

  .display{
    font-weight: bold;
    font-size: 2em;
    color: $off-black;

    @media #{$large-and-up} { font-size: 2.5em; }
    @media #{$extra-large-and-up} { font-size: 3em; }
  }

  .date {
    color: $text-color;
  }

  .content {
    color: $text-color;

    img {
      @media #{$medium-and-up} {
        box-shadow: .4rem .4rem 0 rgba(black, .4),
                    .8rem .8rem 0 rgba(black, .3);
      }
    }
  }
}


// Animation

#articles-top{
  .slider-action a > i {
    -webkit-transition: margin-left .15s;
    transition: margin-left .15s;
  }
}

#articles-content {
  .card {
    -webkit-transition: transform .3s, box-shadow .3s;
    transition: transform .3s, box-shadow .3s;

    .card-action a > i {
      -webkit-transition: margin-left .15s;
      transition: margin-left .15s;
    }
  }
}
