// Layout

footer {
  padding: 2rem 0 1rem;

  h5 { margin-bottom: 2rem; }

  ul {
    margin-top: 0;

    li { margin-top: .5rem; }
  }

  .job-highlight .more > a {
    &:hover i, &:focus i, &:active i { margin-left: .75rem; }
    i { margin-left: .25rem; }
  }

  .social-content {
    display: inline-block;
    overflow: hidden;

    @media #{$medium-and-up} {
      width: 135px;
      margin: 1rem 0;
    }

    li {
      width: 4rem;
      margin-bottom: .5rem;
      margin-right: .5rem;
      float: left;

      &:nth-child(even) {
        @media #{$medium-and-up} { margin-right: 0; };
      }

      > a {
        @extend .valign-wrapper;
        position: relative;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;

        &:hover, &:focus, &:active {
          > img { transform: rotateY(360deg); }
        }

        &::before {
          content: '';
          display: block;
          padding: 100% 50% 0;
        }

        > img {
          position: absolute;
          left: .5px;
          width: 70%;
          margin-top: -1.5px;
          margin-left: 15%;
        }
      }
    }
  }

  .small {
    flex-direction: column;

    @media #{$large-and-up} {
      flex-direction: row;
    }

    .image {
      width: 25px;
      height: 25px;
    }

    .copyright {
      margin-top: .5rem;

      @media #{$large-and-up} {
        margin-top: 0;
        margin-left: auto;
      }
    }
  }
}

// Styling

footer {
  h5 {
    font-family: $font-stack;
    font-weight: bold;
    font-size: 1.2em;

    @media #{$medium-and-up} { font-size: 1.4em; }
    @media #{$large-and-up} { font-size: 1.8em; }
  }

  ul a {
    color: white;

    &:hover, &:focus, &:active { color: $secondary-color; }
  }

  .job-highlight .more > a {
    font-weight: bold;
    color: $primary-color;

    &:hover, &:focus, &:active { color: $secondary-color; }
  }

  .social-content {
    margin-top: 0;

    a {
      background-color: transparent;

      &:hover, &:focus, &:active {
        &.facebook  { background-color: #4267b2; }
        &.instagram { background-color: #e1306c; }
        &.twitter   { background-color: #38a1f3; }
        &.linkedin  { background-color: #0077b5; }
        &.youtube   { background-color: #ed3833; }
      }
    }
  }

  .small {
    font-size: .8em;
    text-align: center;
    color: color('grey', 'lighten-1');

    .image {
      background-image: url(./images/safe-ojk.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}


// Animation

footer {
  .job-highlight a {
    -webkit-transition: color .15s;
    transition: color .15s;

    i {
      -webkit-transition: margin-left .15s;
      transition: margin-left .15s;
    }
  }

  .social-content {
    a {
      -webkit-transition-duration: .3s;
      transition-duration: .3s;

      &:hover > img {
        -webkit-transition: transform .3s;
        transition: transform .3s;
      }
    }
  }
}
