// Layout

.d-none   { display: none   !important; }
.d-block  { display: block  !important; }
.d-inline { display: inline !important; }
.d-inline-block { display: inline-block !important; }
.d-flex   { display: flex   !important; }

.no-float { float: none !important; }


// Styling

body {
  background-color: color('grey', 'darken-4');
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

.text-heading { font-family: $font-heading !important; }
.text-body    { font-family: $font-stack   !important; }

.text-italic { font-style: italic !important; }

.text-light     { font-weight: 300    !important; }
.text-normal    { font-weight: normal !important; }
.text-medium    { font-weight: 500    !important; }
.text-semibold  { font-weight: 600    !important; }
.text-bold      { font-weight: bold   !important; }
.text-extrabold { font-weight: 800    !important; }

.justify-align  { text-align: justify !important; }

.primary-bg   { background-color: $primary-color;   }
.secondary-bg { background-color: $secondary-color; }
.success-bg   { background-color: $success-color;   }
.error-bg     { background-color: $error-color;     }

.primary-text   { color: $primary-color   !important; }
.secondary-text { color: $secondary-color !important; }
.success-text   { color: $success-color   !important; }
.error-text     { color: $error-color     !important; }

.no-wrap    { white-space: nowrap !important; }
.clickable  { cursor: pointer !important; }


// Animation
