.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.wrapper-tb{
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em;
}
.display-1{
    margin-left: 5rem;
    font-size: 2.5rem;
    font-weight: 1000;
    color: black;
}
.btn-1{
    
}
.section-size{
    height: 685px;
    position: relative;
}
.centered{
    position: absolute;
    top: 50%;
    height: 20em;
    margin-top: -10em;
}