// Layout

#jobs-top {
  padding: 100px 0 2rem;
}

#jobs-filter {
  padding: 1rem 0;
}

#jobs-list {
  padding: 2rem 0;

  .job-item {
    display: block;
    height: 220px;

    @media #{$medium-and-up} { height: 280px; }
    @media #{$large-and-up} { height: 320px; }
    @media #{$extra-large-and-up} { height: 300px; }

    &:hover, &.active {
      .image > img {
        width: 90%;
        margin-left: 5%;
      }

      .display::before {
        width: 3rem;
        margin-left: -1.5rem;
      }
    }

    .image {
      @extend .valign-wrapper;
      position: relative;
      width: 100%;
      max-width: 125px;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;

      @media #{$medium-and-up} { max-width: 200px; }

      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      img {
        position: absolute;
        width: 80%;
        margin-left: 10%;
      }
    }

    .display{
      position: relative;
      margin: 1rem 0;

      &::before {
        content: '';
        position: absolute;
        display: block;
        bottom: -.75rem;
        left: 50%;
        width: 0;
      }
    }
  }
}

#jobs-detail {
  padding-bottom: 2rem;
}


// Styling

#jobs-top {
  background-image: url(./images/pattern.png),
                    linear-gradient(10deg, color('blue', 'darken-4'), color('grey', 'darken-4'));
  background-attachment: fixed;

  .title {
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .2rem .3rem rgba(0, 0, 0, .7);


    @media #{$large-and-up} { font-size: 2.5em; }
    @media #{$extra-large-and-up} { font-size: 3em; }
  }
}

#jobs-filter {
  background-color: $primary-color;

  .input-field .select-dropdown {
    border-bottom: .2rem solid $off-black;
    font-weight: bold;
    color: $off-black;

    &:focus { border-bottom-color: $secondary-color; }
  }
}

#jobs-list {
  background-color: color('grey', 'lighten-5');

  .job-item {
    .image{
      @extend .z-depth-2;
      background-color: color('grey', 'darken-4');
      border: .35rem solid $primary-color;

      @media #{$medium-and-up} { border-width: .5rem; }
    }

    .display{
      // font-family: $font-heading;
      font-weight: bold;
      font-size: 1.2em;
      text-align: center;
      color: $secondary-color;

      @media #{$medium-and-up} { font-size: 1.5em; }

      &::before {
        border-bottom: .35rem solid $primary-color;
      }
    }
  }
}

#jobs-detail {
  background-color: color('grey', 'lighten-5');
  color: $off-black;

  .bullet{
    li{
      list-style-type: circle;
    }
  }

  .display{
    font-family: $font-stack;
    font-weight: bold;
    font-size: 2em;
    color: $secondary-color;
    // text-shadow: 0 .2rem .3rem rgba(0, 0, 0, .7);

    @media #{$large-and-up} { font-size: 2.5em; }
    @media #{$extra-large-and-up} { font-size: 3em; }
  }
}


// Animation

#jobs-list {
  .job-item {
    .image > img {
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
    }

    .display::before {
      -webkit-transition-duration: .15s;
      -webkit-transition-timing-function: ease-in-out;
      transition-duration: .15s;
      transition-timing-function: ease-in-out;
    }
  }
}
