// SLICE

// = Layout

.slice {
  display: flex;
  min-height: 400px;
  padding: 2rem 0;

  .title {
    display: block;
    margin-bottom: -3rem;

    @include media-breakpoint-up(xl) {
      margin-bottom: -4rem;
    }
  }

  .subtitle {
    display: block;
    padding-left: .25rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
  }
}


// = Style

.slice {
  .title    { font-size: 8rem; }
  .subtitle { font-size: 4.5rem; }

  @include media-breakpoint-up(xl) {
    .title    { font-size: 10rem; }
    .subtitle { font-size: 6rem; }
  }
}


// = Animation
