<div class="container">
  <h2 class="section-title">History</h2>

  <div class="screen">
    <img class="photo" src="/assets/images/about/3-WITHOUT-FRAME.png" alt="history">

    <p class="text">#ITBCA's humble beginnings started just like your typical banking IT division consisting of application developers and system infrastructure engineers. At the turn of the millenium, already leading in Indonesia with the most number of ATM machines in operation, launched it's e-Banking solution "KlikBCA" cementing it's position as the number one transactional bank in Indonesia until now.<br><br>In the past decade alone, our workforce has grown ten-folds to over 750 employees, currently the largest division in all of BCA. As our customer needs evolve, we created new areas of expertise in response to the growing demands and ever increasing transaction volume. We also adopted an emerging agile framework, Scrum, that further accelerates our transformation into self-managing, cross-function teams.</p>
  </div>
</div>
