<div class="container">
  <h2 class="section-title">History</h2>

  <div class="screen">
    <img class="photo" src="/assets/images/about/3-WITHOUT-FRAME.png" alt="history">

    <p class="text">Fill this with good words about our journey from before the internet up to current state which consists a lot of technology-based services. And don't forget to boast of course.</p>
  </div>
</div>
