//Layout
#about-history{
  position: relative;
  box-sizing: content-box;
  padding-bottom: 3rem;
  // height: 500px;

  &::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 73%;
    top: 0;
  }

  .container{
    position: relative;
    // margin-top: 4rem;
    @media #{$medium-and-up}{
      margin-top: 4rem
    }
  }

  .section-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: .5rem;
    // float: none;
    // position: relative;
    // padding-bottom: .3rem;
    // margin: 1rem 0 2rem 0;

    &::before {
      content: '';
      position: absolute;
      width: 2em;
      left: 50%;
      bottom: -.25em;
      margin-left: -1em;
    }

    @media #{$medium-and-up} {
      float: right;
      position: relative;
      padding-bottom: .3rem;
      margin: 1rem 0 2rem 0;
      left: unset;
      transform: unset;
      margin: 2rem 7rem 3rem 0;
    }
    // @media #{$large-and-up} {
    //   margin: 3rem 3rem 2rem 3rem;
    // }
  }

  .screen{
    position: relative;
    padding-top: 15rem;

    @media #{$medium-and-up}{
      padding-top: unset;
    }

    .box{
      @extend .z-depth-3;
      clear: both;
      position: relative;
      width: 100%;

      @media #{$medium-and-up}{
        height: 300px;
      }

      .sub-box{
        // max-width: 150px;
        position: relative;
        box-sizing: border-box;
        .photo{
          position: relative;
          width: 100%;
          max-width: 70%;
          left: 50%;
          transform: translateX(-50%);
          // position: absolute;
          // max-width: 60%;
          // overflow: hidden;

          @media #{$medium-and-up}{
            max-width: unset;
          }

          img{
            // position: absolute;
            // top: -3rem;
            width: 100%;
            margin-top: -7rem;
            // height: 100%;

            @media #{$medium-and-up}{
              position: relative;
              padding-left: 1rem;
              margin-top: -3rem;
            }
          }
        }
        .content{
          padding: 1rem 2rem 3rem;
        }

        @media #{$medium-and-up}{
          float: left;
          width: 50%;
        }
      }
    }
  }

  .image{
    // position: absolute;
    width: 200px;
    height: 100px;
    // float: left;

    @media #{$medium-and-up}{
      width: 288px;
      height: 190px;
      margin-top: 3rem;
      // box-shadow: 10px 10px;
    }


    @media #{$large-and-up} {
      width: 342px;
      height: 226px;
      // box-shadow: 15px 15px;
    }
  }

  // .content{
  //   width: 50%;
  //   display: block;
  // }
}

//Styling
#about-history{
  background: linear-gradient(#f0f4f7 0%, #ffffff 100%);
  // background-color: #f0f4f7;
  // background-color: #ffffff;
  // background-color: color('grey', 'lighten-5');
  color: $off-black;

  &::before{
    background-image: url(./images/home/pattern-thoughts.png);
    background-color: #03a9f5;
    background-attachment: fixed;
    background-position: center;
  }


  .section-title {
    text-align: center;
    font-family: $font-stack;
    font-weight: bold;
    font-size: 2.5em;
    color: #ffffff;

    // @media #{$medium-and-up} { font-size: 2em; }
    @media #{$extra-large-and-up} { font-size: 3em; }

    &::before {
      border-top: .5rem solid #ffffff;
    }
  }

  .box{
    background-color: #ffffff;
  }

  .image{
    background-image: url(./images/3-WITHOUT-FRAME.png);
    background-size:contain;
    background-repeat: no-repeat;
    // &::before{
    //   background-color: black;
    // }
  }
}

//Animation