<div class="ornaments">
  <span class="ornament ornament-1"></span>
  <span class="ornament ornament-2 hide-on-small-only"></span>
  <span class="ornament ornament-3 hide-on-small-only"></span>
</div>

<div class="container">

  <div class="box">
    <div class="text">
      <div class="title">What is GSIT?</div>
      <p class="description">Wanna bla bla bla? Wanna bla bla bla? Wanna bla bla bla? Sure, just bla bla bla. 😎</p>
    </div>
  </div>

</div>
