<div class="ornaments">
  <span class="ornament ornament-1"></span>
  <span class="ornament ornament-2 hide-on-small-only"></span>
  <span class="ornament ornament-3 hide-on-small-only"></span>
</div>

<div class="container">

  <div class="box">
    <div class="text">
      <div class="title">What is GSIT?</div>
      <p class="description">GSIT stands for Group Strategic Information Technology. That and the department which services process billions of banking transactions. Oh! And of course, make them run 24/7 effectively. So here’s the real question. Wanna be a part of the fastest growing IT banking workforce in Indonesia? Want to develop apps used by millions of users? Want to be part of an IT team with young spirited professionals? Want to get paid to learn? Well… we have it all. So come and join us and decide for yourself. 😎</p>
    </div>
  </div>

</div>
