// Layout

#home-counter {
  position: relative;
  height: 100px;
  z-index: 10;

  @media #{$medium-and-up} {
    height: 220px;
  }

  .box{
    padding: .4rem 2rem;
    margin-top: -3.8rem;
    border-radius: 1.2rem;
  }

  .text {
    margin-left: .5rem;

    @media #{$medium-and-up} { margin-left: 1.5rem; }

    .sub {
      display: block;
      margin-top: -.4em;
    }
  }

  .btn.apply {
    @extend .valign-wrapper;
    position: absolute;
    right: 5%;

    padding: 0 10.5px;
    z-index: 100;
    border-radius: 2rem;

    @media #{$medium-and-up} { right: 10%; }
    @media #{$large-and-up} { right: 17%; }

    &:hover, &:focus, &:active {
      span { width: 72px; }
    }

    span {
      width: 0;
      overflow: hidden;
    }

    &.float {
      position: fixed;
      bottom: 30px;

      &.top { right: -50%; }
    }
  }
}


// Styling

#home-counter {
  background-color: #03a9f5;

  @media #{$medium-and-up} { font-size: 1.5em; }
  @media #{$extra-large-and-up} { font-size: 1.8em; }

  .box{
    background-color: $secondary-color;
    box-shadow: 0 1rem 1.5rem 0 rgba(black, .5);
  }

  .number {
    font-weight: bold;
    font-size: 2.8em;
    color: color('yellow', 'base');
    text-shadow: .1em .1em 0 rgba(0, 0, 0, .2);
  }

  .text {
    font-weight: bold;
    font-size: 1.2em;

    .sub {
      font-weight: normal;
      font-size: .8em;
      opacity: .8;
    }
  }

  .btn.apply {
    background-color: $tertiary-color;
    font-weight: 600;
    color: white;

    i { font-size: 2.2em; }
  }
}


// Animation

#home-counter {
  .btn.apply {
    -webkit-transition: right ease-out .3s;
    transition: right ease-out .3s;

    &.top {
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
    }

    span {
      -webkit-transition: width .3s;
      transition: width .3s;
    }
  }
}
