<div class="container">
  {{!-- <div class="section-1">
    <div class="titleVisiMisi"> Visi & Misi</div>
  </div>
  <div class="section-2">
    <div class="titleValue">Values</div>
  </div> --}}
  <div class="title">Working at IT BCA</div>
  <div class="row">
    <div class="col s12 m4 image">
      <span class="imageFormat openSpace"></span>
      <div class="content-title">Open Space Environment</div>
    </div>
    <div class="col s12 m4 image">
      <span class="imageFormat flexiTime"></span>
      <div class="content-title">Flexible Working Hours</div>
    </div>
    <div class="col s12 m4 image">
      <span class="imageFormat smartCasual"></span>
      <div class="content-title">Smart Casual Attire</div>
    </div>
  </div>
</div>