<div class="container valign-wrapper">

  {{#each counters as |counter|}}
  <span class="number primary-text">{{counter.employCount}}</span>
  <span class="text">IT Professionals<span class="sub">and counting</span></span>
  <button class="btn btn-large pulse apply">
    <span>Apply</span>{{icon "touch_app"}}
  </button>
  {{/each}}
</div>
