<div class="container valign-wrapper box">

  <span class="number">{{counter}}</span>
  <span class="text">IT Professionals<span class="sub">and counting</span></span>
  {{#link-to "jobs" class="btn btn-large pulse apply"}}
    <span>Apply</span>{{icon "touch_app"}}
  {{/link-to}}

</div>
