<div class="container valign-wrapper">

  <span class="number primary-text">{{counters.employCount}}</span>
  <span class="text">IT Professionals<span class="sub">and counting</span></span>
  <button class="btn btn-large pulse apply">
    <span>Apply</span>{{icon "touch_app"}}
  </button>
</div>
