<div class="container valign-wrapper">

  <span class="number primary-text">753</span>
  <span class="text">IT Professionals<span class="sub">and counting</span></span>
  <button class="btn apply btn-large pulse">Apply</button>

</div>
